@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
* {
    font-family: "Nunito Sans", sans-serif !important
}
.right-menu {
  left: auto!important;
}

.fullcalendar-height {
  height: 100%;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .fc-toolbar-title {
    display: none;
  }
}